/* 1. HERO */
.hero {
  background-image: url('../assets/home/restaurant-hero-bg.jpg');
  background-size: cover;
  height: 70vh;
  color: white;

  @extend %flexbox-column;
  @extend %centered-flex;
  @extend %centered-text;

  &__outer-container {
    @extend %outer-container;
  }

  &__inner-container {
    margin-bottom: -105px;
  }

  /* HERO - Date */
  &__date {
    margin-bottom: 30px;
  }

  /* HERO - Headline */
  &__headline {
    margin: 0;
  }


  /* HERO - Subhead */
  &__subhead-container {
    @extend %flexbox-row;
    align-items: center;
    justify-content: center;
  }

  &__subhead {
    @extend %uppercase;
  }

  &__subhead-item {
    margin: 0 10px;
  }

  &__dash {
    display: block;
    width: 25px;
    height: 1px;
    background-color: $white;
  }

  &__star {
    width: 17px;
    height: 17px;
  }

  /* HERO - Location */
  &__location {
    margin-top: 30px;
  }
}



/* 2. ABOUT */
.about {
  background-color: $white;

  &__outer-container {
    @extend %outer-container;
    @extend %flexbox-row;
    padding: 50px;
  }

  /* ABOUT - Left */
  &__left {
    @extend %flexbox-column;
    @extend %centered-flex;
    @extend %centered-text;

    margin-right: 20px;
  }

  /*It's probably best to turn this into a mixin */
  &__underline {
    margin: 20px auto;
  }

  &__title {
    margin-bottom: 20px;
  }

  /* ABOUT - Right */
  &__right {
    margin-left: 20px;
  }

  &_img {
    max-width: 456px;
  }
}



/* 3. SPECIALS */
.specials {
  background-color: $lightest-grey;
  background-image: ('../assets/home/specials-border.png');

  &__outer-container {
    @extend %outer-container;
    display: flex;
    @extend %centered-flex;
  }

  &__inner-container {
    @extend %flexbox-row;
  }

  &__course-inner {
    @extend %flexbox-row;
  }

  /* SPECIALS - Cutlery background ARGHHH*/
  /*&__cutlery {
    height: 255px;
    background-image: ('..\assets\home\cutlery.png');
    background-color: $lightest-grey;
  }*/

}



/* 4. RESERVATIONS */
.reservations {
  background-color: $black;
  color: $white;

  &__outer-container {
    @extend %outer-container;
  }
}







/* 5. SERVICES */
