.banner {
  background-image: $dark-background;
  background-position: center;
  color: $white;
  height: 40vh;

  @extend %flexbox-column;
  @extend %centered-text;


  &__outer-container {
    @extend %outer-container;
    margin-bottom: 40px;
  }

  &__title {
    font-family: Aguafina Script;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: -20px;
  }

  &__underline {
    @extend %underline;
  }

  &__links {
    display: block;
  }

  &__link {
    color: $white;
    margin-left: 10px;
    margin-right: 10px;

    /* turn into mixin for link hovers*/
    &:hover {
      color: $red;
    }

    &:active {
      color: $dark-red;
    }
  }

}
