@mixin button($button-type) {
  @if $button-type == black-outline {
    outline: none;
    background-color: transparent;
    border: 3px solid black;

    color: black;
    font-weight: 700;
    @extend %uppercase;

    padding: 8px 40px;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      color: $hover-red;
      border-color: $hover-red;
    }

    &:active {
      color: $dark-red;
      border-color: $dark-red;
      left: 2px;
    }
  }

  @else if $button-type == red-button {
    outline: none;
    background-color: $red;
    border: none;

    color: $white;
    font-weight: 600;

    transition: all 0.1s ease;

    &:hover {
      background-color: $hover-red;
    }

    &:active {
      background-color: $active-red;
      padding-right: 30px;
    }

  }


}
