@mixin black-outline($padding) {
  outline: none;
  background-color: transparent;
  border: 3px solid $black;

  color: black;
  font-weight: 700;
  text-transform: uppercase;

  padding: $padding;
  position: relative;
  transition: all 0.3s ease;

    &:hover {
      color: darken($red, 8%);
      border-color: darken($red, 8%);
    }

    &:active {
      color: darken($red, 20%);
      border-color: darken($red, 20%);
      left: 2px;
    }
}


@mixin red-button($padding-active) {
  outline: none;
  background-color: $red;
  border: none;
  transition: all 0.1s ease;

  color: $white;
  font-weight: 600;

    &:hover {
      background-color: darken($red, 8%);
    }

    &:active {
      /*make padding a parameter in the mixin*/
      background-color: darken($red, 20%);
      padding-right: $padding-active;
    }
}


@mixin social-button($background) {
  width: 50px;
  height: 50px;
  background-color: $background;
  border-radius: 50%;
  border: none;
  margin: 0 15px;
  outline: none;

    &:hover {
      background-color: lighten($background, 5%);
      width: 55px;
      height: 55px;
    }

    &:active {
      background-color: lighten($background, 10%);
      width: 55px;
      height: 55px;
    }
}
