
.footer {
  width: 100%;

  &__outer-container {
    @extend %outer-container;
  }

  &__copy {
    color: $light-grey;
  }



  /* TOP */
  &__top {
    background: $dark-background;
    color: white;
    @include flexbox(row, center, center);
    text-align: center;

    & * {
      padding: 10px 0;
    }

    &-logo {
      width: 25%;
    }

    &-copy {
      text-align: justify;
    }
  }

  &__top &__outer-container {
    padding: 45px 20px;

    @include min-width($phone-lnd) {
      padding: 45px
    }

    @include min-width($tablet) {
      padding: 45px 150px;
    }
  }
  /* End of TOP */



  /* MIDDLE */
  &__middle {
    background-color: $dark-grey;
    color: $light-grey;
  }

  &__middle &__outer-container {
    padding: 45px 20px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;


    @include min-width($tablet) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
    }
  }


  &__column-title {
    grid-area: header;
    margin-bottom: 15px;
  }


  /* MIDDLE - Newsletter */
  &__newsletter {
    display: grid;
    grid-template-rows: 25% repeat(2, 1fr);
    grid-template-areas: "header";

    &-field {
      @include form-field($dark-grey, 16px, $red);
      width: 80%;

      @include min-width($tablet) {
        padding: 10px;
      }
    }

    &-button {
      @include red-button(6px);
      width: 19%;
      padding: 17px;
      margin-left: -3px;

      @include min-width($tablet) {
        padding: 11px;
      }
    }
  }


  /* MIDDLE - Hours */
  &__hours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25% auto;
    grid-template-areas: "header header";

    & p:nth-of-type(even) {
      justify-self: end;
      color: white;
      font-weight: 600;
    }
  }


  /* MIDDLE - Address */
  &__address {
    display: grid;
    grid-template-columns: 15px auto;
    grid-template-rows: 25% auto;
    grid-template-areas: "header header";
    grid-column-gap: 20px;
  }
  /* End of MIDDLE */



  /* BOTTOM */
  &__bottom {
    background: $dark-background;
  }

  &__copyright {
    color: $light-grey;
    text-align: center;
    padding: 20px;

    @include min-width($tablet) {
      font-size: 12px;
    }

    &-link {
      @include link($red);
    }
  }

  &__social {
    margin: auto;
    width: 50%;
    padding: 15px 0 30px ;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;

    &-button {
      @include social-button($black);
    }
  }
  /* End of BOTTOM */
}
