.header {
  width: 100%;
  position: absolute;
  top: 0;

  &__outer-container {
    @extend %outer-container;
    @include flexbox(row, space-between, center);
  }

  /* HEADER - Top */
  &__top {
    background-color: $black;
    color: $light-grey;
    }

  &__contact-item {
    padding: 0 20px;
  }

  &__icon {
    /*change this to match font size*/
    height: 13px;
    position: relative;
    bottom: -1px;
    padding: 0 6px;
  }

  &__search {
    display: inline-block;

    &-button {
      background-color: transparent;
      outline: none;
      border: none;
      min-width: 50px;
      min-height: 50px;
    }

    &-field {
      color: $white;
      background-color: lighten($dark-grey, 10%);
      border: none;
      outline: none;
      border-radius: 7px;
      width: 0;
      transition: width 1s ease;
    }

    &:focus-within {
      .header__search-field {
        width: 150px;
        padding: 5px;
      }
    }
  }

  /* HEADER - Bottom */
  &__bottom {
    background-color: $black-transparent;
    color: $white;
    padding: 15px 0;
  }

  &__nav-list {
    padding: 0;
  }

  &__nav-item {
    display: inline-block;
  }

  &__nav-link {
    @include link($red);
    text-transform: uppercase;
    padding: 0 15px;
  }


}
