html, body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 14px;
}



.home {
  .hero__headline {
    font-family: Aguafina Script;
    font-size: 5rem;
    font-weight: 500;
  }

  .hero__subhead {
    font-size: 1.2rem;
  }
}


/* can use the following synthax to write class-names  */
