.event {

  &__outer-container {
    @extend %outer-container;
    padding: 60px 0;

    @include min-width($phone-lnd) {
      padding: 60px 20px;
    }

    @include min-width($tablet) {
      padding: 60px 80px;
    }
  }

  &__img {
    width: 100%;
    margin: auto;
  }

  /* Main post */
  &__post {
    padding: 40px 20px;
    text-align: center;

    @include min-width($phone-lnd) {
      padding: 50px 0;
    }
  }

  &__post-title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__post-info {
    margin: 20px auto;
    letter-spacing: 1px;
  }

  &__post-info {
    @include flexbox(column, center, center);

    @include min-width($phone-lnd) {
      @include flexbox(row, center, end);
    }

  }

  &__info-element {
    margin: 5px 10px;

    @include flexbox(row, center, end);
  }

  &__icon {
    margin-right: 5px;
  }

  &__underline {
    @extend %underline;
  }

  /* Line height should be a Typography mixin */
  &__copy {
    margin: 30px 0;
    line-height: 1.5em;
  }

  /* End of Main post */

  &__buttons {
    @include flexbox(row, space-around);
    margin-top: 20px;

    @include min-width($phone-lnd) {
      @include flexbox(row, space-between);
    }

  }

  &__button {
    @include black-outline(10px);

    @include min-width($phone-lnd) {
      padding: 8px 40px;
    }
  }
}
