/* 1. HERO */
.hero {
  background: url('../assets/home/restaurant-hero-bg.jpg') fixed;
  background-size: cover;
  height: 70vh;
  color: white;

  @extend %flexbox-column;
  @extend %centered-flex;
  @extend %centered-text;

  &__outer-container {
    @extend %outer-container;
  }

  &__inner-container {
    margin-bottom: -105px;
  }

  /* HERO - Date */
  &__date {
    margin-bottom: 30px;
  }

  /* HERO - Headline */
  &__headline {
    margin: 0;
    font-family: Aguafina Script;
    font-size: 5rem;
    font-weight: 500;
  }

  /* HERO - Subhead */
  &__subhead-container {
    @extend %flexbox-row;
    align-items: center;
    justify-content: center;
  }

  &__subhead {
    @extend %uppercase;
    font-size: 1.2rem;
  }

  &__subhead-item {
    margin: 0 10px;
  }

  &__dash {
    display: block;
    width: 25px;
    height: 1px;
    background-color: $white;
  }

  &__star {
    width: 17px;
    height: 17px;
  }

  /* HERO - Location */
  &__location {
    margin-top: 30px;
  }
}



/* 2. ABOUT */
.about {
  background-color: $white;

  &__outer-container {
    @extend %outer-container;
    @extend %flexbox-row;
    padding: 50px;
  }

  /* ABOUT - Left */
  &__left {
    @extend %flexbox-column;
    @extend %centered-flex;
    @extend %centered-text;

    margin-right: 20px;
  }

  /*It's probably best to turn this into a mixin */
  &__underline {
    @extend %underline;
  }

  &__title {
    margin-bottom: 20px;
  }

  /* ABOUT - Right */
  &__right {
    margin-left: 20px;
  }

  &_img {
    max-width: 456px;
  }
}



/* 3. SPECIALS */
.specials {
  background-color: $light-grey;


  &__outer-container {
    @extend %outer-container;
    display: flex;
    @extend %centered-flex;
    padding: 20px 50px;
  }

  &__menu {
    width: 100%;
    /* ???? */
    background-image: ('../assets/home/specials-border.png');
  }

  &__title {
    @extend %centered-text;
  }

  &__inner-container {
    @extend %flexbox-row;
    justify-content: space-between;
    padding: 50px 0;
    margin: auto;
    width: 80%;
  }

  &__course-title {
    @extend %uppercase;
  }

  &__course-inner {
    @extend %flexbox-row;
    padding-top: 20px;
  }

  &__course-left {
    margin-right: 35px;
  }

  &__dish {
    @extend %capitalize;
  }

  &__button {
    display: block;
    margin: auto;
    @extend %uppercase;
  }

  /* SPECIALS - Cutlery background ARGHHH*/
  /*&__cutlery {
    height: 255px;
    background-image: ('..\assets\home\cutlery.png');

  }*/

}



/* 4. RESERVATIONS */
.reservations {
  background: $dark-background no-repeat center;
  /*background-position: center;*/
  color: $white;

  &__outer-container {
    @extend %outer-container;
  }

  &__title, &__copy {
    color: $white;
  }

  &__form {
    color: $black;
    outline: none;
    @extend %flexbox-row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__field {
    width: 33%;
  }

}







/* 5. SERVICES */
