/* 1. HERO */
.hero {
  background: url('../assets/home/restaurant-hero-bg.jpg') fixed;
  background-size: cover;
  height: 70vh;
  color: white;

  @extend %flexbox-column;
  @extend %centered-flex;
  @extend %centered-text;

  &__outer-container {
    @extend %outer-container;
  }

  &__inner-container {
    margin-bottom: -105px;
  }

  /* HERO - Date */
  &__date {
    margin-bottom: 30px;
  }

  /* HERO - Headline */
  &__headline {
    margin: 0;
    font-family: Aguafina Script;
    font-size: 5rem;
    font-weight: 500;
  }

  /* HERO - Subhead */
  &__subhead-container {
    @extend %flexbox-row;
    align-items: center;
    justify-content: center;
  }

  &__subhead {
    @extend %uppercase;
    font-size: 1.2rem;
  }

  &__subhead-item {
    margin: 0 10px;
  }

  &__dash {
    display: block;
    width: 25px;
    height: 1px;
    background-color: $white;
  }

  &__star {
    width: 17px;
    height: 17px;
  }

  /* HERO - Location */
  &__location {
    margin-top: 30px;
  }
}



/* 2. ABOUT */
.about {
  background-color: $white;

  &__outer-container {
    @extend %outer-container;
    @extend %flexbox-row;
    padding: 50px;
  }

  /* ABOUT - Left */
  &__left {
    @extend %flexbox-column;
    @extend %centered-flex;
    @extend %centered-text;

    margin-right: 20px;
  }

  &__underline {
    @extend %underline;
    margin: 20px auto;
  }

  &__title {
    @extend %title;
  }

  /* ABOUT - Right */
  &__right {
    margin-left: 20px;
  }

  &_img {
    max-width: 456px;
  }
}



/* 3. SPECIALS */
.specials {
  background-color: $light-grey;
  padding-top: 40px;

  &__outer-container {
    @extend %outer-container;
    height: 69vh;

    background-image: url('../assets/home/specials-border.png');
    background-size: 100% 65vh;
    background-repeat: no-repeat;
  }

  &__title {
    @extend %title;
    @extend %centered-text;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;

    padding: 60px 0;
    margin: auto;
    width: 75%;
  }

  &__course {
    display: grid;
    grid-template-columns: auto 10%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title";
    grid-row-gap: 40px;

    &-title {
      @extend %uppercase;
      grid-area: title;
      justify-self: center;
    }

    &-dish {
      margin-right: 35px;
      @extend %capitalize;
    }

    &-price {
      font-style: italic;
    }
  }

  &__button {
    display: block;
    margin: auto;

    @include button(black-outline);
  }

  /* SPECIALS - Cutlery background*/
  &__cutlery {
    @extend %outer-container;
    height: 210px;
    background-image: url('../assets/home/cutlery.png');
    background-size: contain;
    background-position-x: 100px;
    background-repeat: no-repeat;

  }

}



/* 4. RESERVATIONS */
.reservations {
  background: $dark-background no-repeat;
  background-size: cover;
  color: $white;
  padding: 45px 0;
  text-align: center;

  &__outer-container {
    @extend %outer-container;
  }

  &__title, &__copy {
    color: $white;
  }

  &__title {
    @extend %title;
  }

  &__underline {
    @extend %underline;
  }

  &__form {
    @extend %flexbox-row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
  }

  &__field {
    color: $black;
    font-style: italic;
    padding: 10px;

    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border: 1px solid $hover-red;
    }
  }

  &__button {
    @include button(red-button);
    @extend %capitalize;
    padding: 5px 50px;
    width: 22%;
  }
}



/* 5. SERVICES */
.services {
  padding: 45px 0;
  text-align: center;
  background-color: $light-grey;

  &__outer-container {
    @extend %outer-container;
  }

  &__title {
    @extend %title;
  }

  &__underline {
    @extend %underline;
  }

  &__copy {
    width: 50%;
    margin: 0 auto;
  }

  &__inner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
  }

  &__item {
    background-color: white;
    height: 130px;
    margin-top: 100px;

    &-icon {
      position: relative;
      bottom: 65px;
    }

    &-title {
      position: relative;
      bottom: 50px;

      @extend %uppercase;
    }

  }





}
