/* 1. HERO */
.hero {
  background: url('../assets/home/restaurant-hero-bg.jpg') fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;

  @include flexbox(column, center, center);
  text-align: center;

  &__outer-container {
    @extend %outer-container;
  }

  &__inner-container {
    margin-bottom: -105px;
  }

  /* HERO - Date */
  &__date {
    margin-bottom: 30px;
  }

  /* HERO - Headline */
  &__headline {
    margin: 0;
    font-family: Aguafina Script;
    font-size: 2.5rem;
    font-weight: 500;

    @include min-width($phone-lnd) {
      font-size: 5rem;
    }
  }

  /* HERO - Subhead */
  &__subhead-container {
    @include flexbox(row, center, center);
  }

  &__subhead {
    text-transform: uppercase;
    font-size: 1rem;

    @include min-width($phone-lnd) {
      font-size: 1.2rem;
    }
  }

  &__subhead-item {
    margin: 0 10px;
  }

  &__dash {
    display: block;
    width: 25px;
    height: 1px;
    background-color: $white;
  }

  &__star {
    width: 17px;
    height: 17px;
  }

  /* HERO - Location */
  &__location {
    margin-top: 30px;
  }
}



/* 2. ABOUT */
.about {
  background-color: $white;

  &__outer-container {
    @extend %outer-container;
    @include flexbox(row);
    padding: 50px;
  }

  /* ABOUT - Left */
  &__left {
    @include flexbox(column, center, center);
    text-align: center;
    width: 100%;

      @include min-width(1000px) {
        margin-right: 20px;
      }

  }

  &__underline {
    margin: 20px auto;
  }

  &__title {
    @extend %title;
  }

  /* ABOUT - Right */
  &__right {
    margin-left: 20px;
    display: none;

      @include min-width(1000px) {
        display: inline-block;
      }
  }

  &_img {
    max-width: 456px;
  }
}



/* 3. SPECIALS */
.specials {
  background-color: $light-grey;

    @include min-width(1000px) {
      padding-top: 50px;
    }


  &__outer-container {
    @extend %outer-container;
    padding: 50px 0;


      @include min-width(1000px) {
        height: 75vh;
        background-image: url('../assets/home/specials-border.png');
        background-size: 100% 75vh;
        background-repeat: no-repeat;
      }
  }

  &__title {
    @extend %title;
    text-align: center;
  }

  &__menu {
    padding: 40px 0;
    margin: auto;
    width: 75%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;

      @include min-width($tablet) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
      }
  }

  &__course {
    display: grid;
    grid-template-columns: auto 10%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title";
    grid-row-gap: 40px;

    &-title {
      text-transform: uppercase;
      grid-area: title;
      justify-self: center;
    }

    &-dish {
      margin-right: 35px;
      text-transform: capitalize;
    }

    &-price {
      font-style: italic;
    }
  }

  &__button {
    display: block;
    margin: auto;

    @include black-outline(8px 40px);
  }

  /* SPECIALS - Cutlery background*/
  &__cutlery {
      @include min-width($tablet) {
        min-height: 210px;
        background-image: url('../assets/home/cutlery.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }


  }

}



/* 4. RESERVATIONS */
.reservations {
  background: $dark-background no-repeat;
  background-size: cover;
  color: $white;
  padding: 50px 0;
  text-align: center;

  &__outer-container {
    @extend %outer-container;
  }

  &__title, &__copy {
    color: $white;
  }

  &__title {
    @extend %title;
  }

  &__underline {
    @extend %underline;
  }

  &__form {
    margin: 40px 0;

    display: grid;
    grid-gap: 30px;
    justify-items: center;

      @include min-width($tablet) {
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
      }

    &-top {
      width: 80%;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 30px;

        @include min-width($tablet) {
          width: 100%;

          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 33% repeat(2, 1fr);
          grid-gap: 10px;
          align-content: center;
        }
    }

    &-bottom {
      width: 80%;

      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 30px;

        @include min-width($tablet) {
          width: 100%;

          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 33% auto auto 15%;
          grid-gap: 10px;
          align-content: center;
        }
    }
  }

  &__field {
    @include form-field($black, 15px, $red);
    font-style: italic;

      @include min-width($tablet) {
        padding: 10px;
      }
  }

  &__button {
    @include red-button(35px);
    text-transform: capitalize;
    padding: 5px 40px;
  }
}



/* 5. SERVICES */
.services {
  padding: 50px 0;
  text-align: center;
  background-color: $light-grey;

  &__outer-container {
    @extend %outer-container;
  }

  &__title {
    @extend %title;
  }

  &__underline {
    @extend %underline;
  }

  &__copy {
    margin: 0 auto;

      @include min-width($tablet) {
            width: 50%;
      }
  }

  &__inner-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;


      @include min-width($tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
      }
      }


  &__item {
    background-color: white;
    height: 130px;
    margin-top: 100px;

    &-icon {
      position: relative;
      bottom: 65px;
    }

    &-title {
      position: relative;
      bottom: 50px;
      text-transform: uppercase;
    }

  }





}
