.menu-section {

  &__menu {}

  &__outer-container {
    @extend %outer-container;
    padding: 60px 0;
  }

  &__title {
    text-transform: uppercase;
    margin: 15px 0;
  }

  &__menu-list {
    @include flexbox(row, space-between);
  }

  &__copy--big {
    text-transform: capitalize;
    font-size: 1.4em;
    margin-top: 20px;
  }

  &__copy {
    padding-left: 5px;
    font-style: italic;

  }


  /* GALLERY */
  &__gallery {
    @include flexbox(row);

    width: 100vw;
    align-items: baseline;
  }

  &__img {
    width: 25%;
  }
  /* End of GALLERY */
}
