.menu-section {

  &__menu {}

  &__outer-container {
    @extend %outer-container;

    padding: 60px 0;
    /*display: grid;
    grid-template-columns: repeat(3, auto 1fr 3fr);
    grid-template-rows: repeat(5, 1fr);*/
  }

  &__title {
    @extend %uppercase;

    margin: 15px 0;
  }

  /*This implements the layout using Flexbox */
  &__menu-list {
    @extend %flexbox-row;

    justify-content: space-between;
  }

  &__copy--big {
    @extend %capitalize;

    font-size: 1.4em;
    margin-top: 20px;
  }

  &__copy {
    padding-left: 5px;
    font-style: italic;

  }


  /* GALLERY */
  &__gallery {
    @extend %flexbox-row;

    width: 100vw;
    align-items: baseline;
  }

  &__img {
    width: 25%;
  }
  /* End of GALLERY */
}
