%flexbox-row {
  display: flex;
  flex-direction: row
}

%flexbox-column {
  display: flex;
  flex-direction: column;
}

%capitalize {
  text-transform: capitalize;
}

%uppercase {
  text-transform: uppercase;
}

%outer-container {
  margin: auto;
  max-width: 1000px;
  /*padding-left:20px;
  padding-right:20px;*/
}
