%outer-container {
  padding: 0 20px;

  @include min-width($tablet) {
    margin: auto;
    max-width: 1000px;
  }

  @include min-width($desktop) {
    margin: auto;
    max-width: 1200px;
  }
}



%underline {
  margin: 0 auto 15px auto;
}
